# Core dependency: When installing the self-compiled PyTorch wheel, torch will be included.
# If the user does not install the .whl, this requirements can be used for reproduction.

torch==2.9.0a0+gitc665594     # Optional, usually installed via .whl
typing-extensions>=4.10.0
mpmath<1.4,>=1.1.0
sympy>=1.14.0
networkx>=3.4.0
fsspec>=2025.6.0
filelock>=3.17.0
jinja2>=3.1.6
MarkupSafe>=3.0.2
